body {
    background-color:white;
    font-family:sans-serif;
    }
    .center {
        display: block;
        margin-left:auto;
        margin-right:auto;
        width:50%;
    }
    .navbar {
    background-color:#ffd3ff;
    padding: 3px;
    border: 3px solid;
    border-color:magenta;
    border-radius:5px;
    }
    .navbartitle {
        color:white;
    }
    .content {
        background-color:#ffffff;
        border:1px solid magenta;
        margin-left:auto;
        margin-right:auto;
        width:50% - 5px;
        margin:5px auto 0px auto;
        padding:5px;
        border-radius:3px;
    }
    .button
    {
    margin:2px;
    padding:3px;
    font-weight:400;
    border:1px none;
    border-radius:3px;
    color:white;
    text-decoration:none;
    white-space:nowrap;
    line-height:28px;
    background-color:#ffc1ff;
    }
    
    .button:hover
    {
    background-color:magenta;
    text-decoration:none;
    }
    
    #buttons
    {
    line-height:30px;
    margin:0px;
    }